@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:400,700");
@font-face {
  font-family: "eight-bit_madnessregular";
  src: url("../fonts/8-bit_madness-webfont.woff2") format("woff2"), url("../fonts/8-bit_madness-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* MEDIA QUERY BREAKPOINTS */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::selection {
  background: transparent;
}

body {
  background: #111111;
  font-family: "eight-bit_madnessregular", Arial, sans-serif;
}
body.dark {
  background: #000;
}

*:focus {
  outline: none;
}

h1, h2, h3, h4, h5, p, input, button, span {
  font-family: "eight-bit_madnessregular", Arial, sans-serif;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 2.5em;
  color: forestgreen;
}

.text-red {
  color: #e3342f;
}

.text-white {
  color: #fff;
}

.hide, .visible-mobile, .visible-tablet {
  display: none;
}

#app #game {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #6b5eb5;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
#app #game.dark {
  background: #111111;
}
#app #game .screen {
  height: 100%;
  padding: 15% 0 25%;
  overflow: hidden;
}
#app #game .screen h1 {
  white-space: pre-wrap;
}
#app #game .screen h2 {
  font-size: 2em;
  align-self: flex-start;
  padding-bottom: 100px;
  color: #595959;
}
#app #game .top-bar, #app #game .bottom-bar {
  position: absolute;
  height: 15%;
  width: 100%;
  background: #352879;
  -webkit-transition: all 2.3s ease-in-out;
  -moz-transition: all 2.3s ease-in-out;
  -o-transition: all 2.3s ease-in-out;
  -ms-transition: all 2.3s ease-in-out;
  transition: all 2.3s ease-in-out;
}
#app #game .top-bar.dark, #app #game .bottom-bar.dark {
  background: #000;
}
#app #game .top-bar.active, #app #game .bottom-bar.active {
  height: 40%;
}
#app .top-bar {
  top: 0;
  left: 0;
}
#app .bottom-bar {
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
}
#app .bottom-bar .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#app .bottom-bar .container.active {
  opacity: 1;
}
#app .bottom-bar .container .choice {
  font-size: 2.5em;
  background: none;
  border: none;
  color: #fff;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#app .bottom-bar .container .choice:hover {
  border-bottom: 3px solid #fff;
}

nav {
  position: absolute;
  top: 0;
  height: 100px;
  z-index: 9999;
  width: 100%;
}
nav .navbar-menu img {
  position: absolute;
  top: 50%;
  right: 3%;
  width: 50px;
  height: 50px;
  opacity: 0.1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav .navbar-menu img:hover {
  opacity: 1;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid greenyellow;
  /* The typwriter cursor */
  white-space: pre-wrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em;
  /* Adjust as needed */
  animation: typing 1.5s steps(100, end), blink-caret 0.75s step-end infinite alternate;
}

.waitingForConnection {
  animation: blinker 0.1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: greenyellow;
  }
}

/*# sourceMappingURL=app.css.map */
