input,
select,
textarea,
fieldset {
    font-family: var(--form-field-font-family);
    font-size: var(--form-field-font-size);
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

label {
    vertical-align: middle;
    color:$white;
    font-size:1.2em;
}

form{
    .form-group{
        margin:20px auto;
    }

    ::selection {
        background: rgba($indigo,0.4);
    }

}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
    height: var(--form-field-height);
    font-size:1.5em;
    padding: 20px;
    vertical-align: middle;
    -webkit-appearance: none;
}
input[type=submit]{
    -webkit-appearance: none;
    padding:20px;
    font-size:1.5em;
    background: $orange;
    border:2px solid transparent;
    width:100%;
    margin:10px auto;
    &:hover{
        background: $screenColor;
        border:2px solid $orange;
        color:$white;
    }
}

select {
    line-height: 1.75;
    padding: var(--form-field-padding-y) var(--form-field-padding-x);
}

select:not([multiple]) {
    height: var(--form-field-height);
    vertical-align: middle;
}

textarea {
    line-height: 1.75;
    padding: var(--form-field-padding-y) var(--form-field-padding-x);
}
